@using CMMC.Domain.ViewModels

@{
    ViewBag.Title = "Grupos";
}

<h2>Grupos</h2>

@(Html.Kendo().Grid<GrupoViewModel>()
      .Name("grupoGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.nome);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width("35%");
      })
      .Pageable()
      .Sortable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(1)
          .Model(model => model.Id(p => p.ID))
          .Read(read => read.Action("Listar", "Grupos"))
          .Create(create => create.Action("NovoGrupo", "Seguranca"))
          .Update(update => update.Action("AlteraGrupo", "Seguranca"))
          .Destroy(destroy => destroy.Action("ExcluiGrupo", "Seguranca"))
      )
      )

